<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="footer am-u-sm-12">
        <div class="am-vertical-align" style="text-align: center">
            <hr>
            <div class="am-vertical-align-bottom">
                <div id="footer" style="color: #009688;font-size: 15px;margin-top: 5px">
                    总访问量 <span id="totalVisitors"><strong class="visitCount"></strong></span> 次
                </div>
                <div style="color: #009688; font-size: 15px; pxmargin-top: 5px;">
                    <!--&copy; 2019-2020 强子 - <i class="am-icon-coffee" style="margin: 0 5px"></i>雷强 版权所有-->
                    &copy; 2023-2023 哥哥
                </div>
<!--                <div class="webLogo" style="font-size: 15px;margin-top: 5px">-->
<!--                    <a target="_blank" href="https://beian.miit.gov.cn">-->
<!--                        湘ICP备2023017887号-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="webLogo" style="font-size: 15px;margin-top: 5px">-->
<!--                    <img src="style/images/备案图标.png" style="float:left;"/>-->
<!--                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43022302001073" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">-->
<!--                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">湘公网安备 43022302001073号</p>-->
<!--                    </a>-->
<!--                </div>-->
                <div style="width:600px;margin:0 auto; padding:20px 0;">
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43022302001073" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="style/images/备案图标.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">湘公网安备 43022302001073号</p>
                    </a>
                    <a target="_blank" href="https://beian.miit.gov.cn" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">湘ICP备2023017887号</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>